venv
env
__pycache__
interclasse/__pycache__

db.*
media/logo_team/*
media/badge/*
media/certificate/*
media/photo_player/*
media/photo_config/*
media/photos_config/*
media/photo_technician/*
media/bulletins/*
media/attachments/*
media/photo_voluntary/*
media/document_boss/*
media/photo_boss/*
.env
