{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/guiate-team.css' %}" />
    <title>JIIFS ADMIN</title>
</head>
<body>
    <div style="width: 98vw; display: flex; justify-content: center; padding: 20px; right: 0px;">
        <h1 style="color: white;">GERAR <span style="color: #7bff00;">RELATÓRIOS{% if user.is_staff %} E BOLETINS{% endif %}</span></h1>
    </div>
    <form method="post" class="grid-container">{% csrf_token %}
        
        {% if user.is_staff %}
        <button name="all_data" type="submit" class="sport-btn">
            <div style="display: flex; justify-content: center; align-items: center; width: 3.2em; height: 3.2em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-laptop-file" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Dados gerais</span>
        </button>

        <a href="{% url 'bolletin' %}" class="sport-btn">
            <div style="display: flex; justify-content: center; align-items: center; width: 3.2em; height: 3.2em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-file" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Criar bolletin</span>
        </a>
        {% endif %}

        <button name="all_campus" type="submit" class="sport-btn">
            <div style="display: flex; justify-content: center; align-items: center; width: 3.5em; height: 3.5em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-school" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Dados do campus</span>
        </button>

        <button name="all_players" type="submit" class="sport-btn">
            <div style="display: flex; justify-content: center; align-items: center; width: 3.2em; height: 3.2em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-person" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Todos os atletas</span>
        </button>

        <button name="all_players_masc" type="submit" class="sport-btn">
            <div style="display: flex; justify-content: center; align-items: center; width: 3.2em; height: 3.2em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-person" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Atletas do sexo masculino</span>
        </button>

        <button name="all_players_fem" type="submit" class="sport-btn">
            <div style="display: flex; justify-content: center; align-items: center; width: 3.2em; height: 3.2em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-person" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Atletas do sexo feminino</span>
        </button>

        <button name="all_eqp" type="submit" class="sport-btn">
            </i><div style="display: flex; justify-content: center; align-items: center; width: 3.2em; height: 3.2em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-person-digging" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Equipe</span>
        </button>

        {% if 0 in sports %}
        <button name="all_players_sport" value="0" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-3.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do futsal</span>
        </button>
        {% endif %}

        {% if 1 in sports %}
        <button name="all_players_sport" value="1" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-4.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do vôlei</span>
        </button>
        {% endif %}

        {% if 2 in sports %}
        <button name="all_players_sport" value="2" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-10.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do vôlei Sentado</span>
        </button>
        {% endif %}

        {% if 3 in sports %}
        <button name="all_players_sport" value="3" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-11.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do handebol</span>
        </button>
        {% endif %}

        {% if 4 in sports %}
        <button name="all_players_sport" value="4" type="submit" class="sport-btn">
            <div style="display: flex; justify-content: center; align-items: center; width: 3.2em; height: 3.2em; padding: 12px; background-color: white; border-radius: 100%;"><i class="icon fas fa-chess" style="color: #369637; font-size: 1.8em; display: flex; justify-content: center;"></i></div>
            <span class="btn-text">Atletas do xadrez</span>
        </button>
        {% endif %}

        {% if 7 in sports %}
        <button name="all_players_sport" value="7" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-7.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do salto em Distância</span>
        </button>
        {% endif %}

        {% if 5 in sports %}
        <button name="all_players_sport" value="5" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-5.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do tênis de Mesa</span>
        </button>
        {% endif %}

        {% if 6 in sports %}
        <button name="all_players_sport" value="6" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-8.webp' %}" alt=""></i>
            <span class="btn-text">Atletas da corrida 100m</span>
        </button>
        {% endif %}

        {% if 8 in sports %}
        <button name="all_players_sport" value="8" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-6.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do lançamento de Dardo</span>
        </button>
        {% endif %}

        {% if 9 in sports %}
        <button name="all_players_sport" value="9" type="submit" class="sport-btn">
            <i><img style="width: 3em;" src="{% static 'images/sports/icone-JIFSAtivo-11.webp' %}" alt=""></i>
            <span class="btn-text">Atletas do lançamento de Peso</span>
        </button>
        {% endif %}

    </form>      
    <div style="width: 98vw; height: auto; justify-content: center; display: flex; bottom: 10vh;">
        <button class="side-bar-buttons-item2 custom-buttons-sport-nav" style="background-color: red;">
            <a href="{% url 'manage' %}">VOLTAR</a>
        </button>
    </div>
    <ul class="notifications"></ul>
    <script src="{% static 'js/messages.js' %}"></script>
    {% if messages %}
    {% for message in messages %}
        <script>
            createToast("{{ message.tags }}", "{{ message }}");
        </script>
    {% endfor %}
    {% endif %}
</body>
</html>
