@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Flick';
    src: url('./fonts/FlickDemo-vmrYL.ttf') format('truetype');
}

:root {
    --white: #fff;
    --white-rgba: hsla(0, 0%, 100%, 0.7);
    --border-title: hsla(0, 0%, 100%, 0.080);
    --gray-background-cards: #152dca;
    --gray-background: #1E1E1E;
    --gray-inputs-background: #343434;
    --green-links-line: #00A3FF;
    --green-title-time-or-set: #11BE18;
    --red-live: #FF3232;
    --pink-feminine: #FF32AA;
    --blue-links: #3A7BD5;
    --width: 70vw;
}
.video-container {
  width: var(--width);
  height: 39.3vw;

}

.video-container iframe {
   width: 100%;
   height: 100%;
}

.about-morea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--global-nav-color);
    max-width: var(--width);
    width: 100%;
    height: 405px;
    border-radius: 16px;
    padding: 40px;
}

div.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 27px;
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: 42px;
    font-weight: 600;
    color: var(--white);
}

.about-morea p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--white-rgba);
    max-width: 465px;
}

span.stroke-morea {
    color: var(--green-links-line);
}

.link-morea-or-lattes {
    text-decoration: none;
    color: var(--blue-links);
    font-size:20px;
    transition: .3s ease-in-out;
}
.link-morea-or-lattes:hover{
    color: var(--green-title-time-or-set);
}

.about-morea .social-media {
    display: flex;
    gap: 36px;
}

.about-morea .social-media a {
    display: flex;
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
    gap: 8px;
}

.about-morea .social-media a p {
    color: var(--white);
}
.img-morea{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img-morea img{
    width: 320px;

}
.about-morea .social-media .link-instagram-morea p {
    background-image: linear-gradient(to right, #7017FF, #C500E9, #ED00C0,#F80261,#FB0F79,#FE3B36,#FF6930,#FFD000);
      background-clip: text;
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: black;
}
.about-members{
    display:flex;
    align-items: center;
    flex-direction: column;
    max-width: 1152px;
    width: 100%;
    gap: 85px;
}
.advisors, .active-members{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 70px;
}
.members{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 38px;
}
.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: var(--global-nav-color);
    border-radius: 16px;
    padding: 20px;
    gap: 27px;
}
.photo-person{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.photo-person img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.content-of-person{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
h2{
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
h3{
    text-align: center;
    color: var(--white);
    font-size: 24px;
}
.sub-title-about{
    color: var(--global-header-color);
}
.content-of-person p{
    color: var(--white-rgba);
    font-size: 18px;
    text-align: center;
}
.content-of-person .link-morea-or-lattes{
    font-size: 16px;
    cursor: pointer;
}
 .socia-media{
    display: flex;
    gap: 18px;
    padding-top: 7px;
}
a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
}

.about-help{
    width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;

}
details{
    align-items: flex-start;
    color: var(--global-header-color);
}
summary{
    padding-bottom: 10em;
}
details[open] > summary {
    border: 0px;
    font-weight: 750;

}
details[open] {
    border-bottom: 1px solid var(--global-header-color);
}
details > summary {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    font-weight: 600;
    font-size: 24px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid var(--global-header-color);
    transition: all 0.3s ease;
    list-style: none; 
}
summary::-webkit-details-marker {
    display: none; 
}
details summary i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
details[open] summary i {
    transform: rotate(270deg);
}
details > p {
    font-size: 16px;
    padding: 4px;
    margin: 0;
}

@media screen and (max-width:1000px) {
    .about-morea {
        max-width: 80vw;
    }
    h1{
        font-size: 32px;
    }
    .about-morea p{
        font-size: 18px;
    }
    .link-morea-or-lattes{
        font-size: 18px;
    }
    .img-morea img{
        width: 250px;
    }
    .about-morea .social-media a p {
        display: none;
    }
    .about-morea .social-media{
        gap: 16px;
    }
    .hidden-pool{
        display: none;
    }
}

@media screen and (max-width:750px) {
    h1{
        text-align: center;
    }
    p{
        text-align: center;

    }
    .about-morea{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 80%;
        padding: 30px 20px;
        gap: 16px;
        width: 325px;
        max-width: 85vw;

    }
    .hidden-pool{
        display: none;
    }
    .about-morea .social-media p {
        display: none;
    }
    .about-morea .social-media{
        justify-content: center;
        width: 100%;
    }
    div.content{
        gap: 10px;
    }
    .img-morea img{
        width: 225px;
    }
}