@charset "UTF-8";

a {
    text-decoration: none;
    font-size: 16px;
    width: 100%;
}

.invisible-side-bar {
    min-width: 15em;
    height: 100%;
}

.theme-mode-button {
    position: fixed;
    color: black;
    text-align: center;
    color: yellow;
    cursor: pointer;
    width: 50px;
    font-size: 33px;
    right: 10px;
    top: 14px;
    z-index: 1;
}

.side-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--global-nav-color);
    min-width: 15em;
    position: fixed;
    overflow: auto;
    height: 100%;
}

.side-bar .hamburguer-menu {
    display: none;
}

.side-bar-bottom,
.side-bar-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    gap: 1em;
}


.side-bar-logo {
    height: 8em;
}
.user-account{
    width: auto;
    height: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-inline: 16px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
}
.user-account i {
    font-size: 14px;
}
.user-account p {
    font-size: 16px;
}

.side-bar-buttons{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 72%;
    gap: 10px;
}
.side-bar-buttons i{
    padding-inline: 10px;
}
.side-bar-buttons a:hover{
    background-color: var(--global-link-hover);

    border-radius: 25px;
}
.side-bar-buttons button{
    border: none;
    font-size: 14px;
    padding-inline: 10px;
    padding: 5px;
    justify-content: space-between;
    background-color: transparent;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exit-hover:hover{
    background-color: red !important;
}

.side-bar-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bar-register-title {
    text-align: center;
    color: white;
}
.exit-sistem{
    width: auto;
    height: auto;
    padding: 2px;
    border-radius: 12px;
    padding-inline: 10px;
    border: 1.9px solid red;
    background-color: red;
}
.exit-sistem i{
    color: white;
    font-size: 16px;
}
.exit-sistem a{
    color: white;
    font-size: 20px;    
    font-weight: 500;
}


.side-bar-buttons-items2 {
    background-color: var(--global-eighth-color);
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
}

.side-bar-buttons-items2 a {
    color: var(--global-color-white);
}

.logos {
    margin: 5px;
    display: flex;
    gap: 10px;
}

.logos-items {
    filter: invert(100%);
    height: 60px;
}



/*MEDIA SCREEN*/


@media screen and (max-width: 925px) {
    .side-bar,
    .invisible-side-bar {
        display: none;
    }

    .hamburguer-menu {
        display: flex;
        position: fixed;
        cursor: pointer;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        top: 14px;
        left: 10px;
        width: 50px;
        z-index: 2;
    }

    .line {
        display: block;
        width: 30px;
        background: var(--global-eighth-color);
        height: 2px;
        margin: 5px 5px;
        transition: all 0.4s ease;
        z-index: 2;
    }

    .side-bar {
        max-width: 0px;
        opacity: 0;
        display: flex;
        transition: all 0.4s ease 0s;
        pointer-events: none; 
        visibility: hidden;
    }

    .change .first-line {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .change .second-line {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    .change ~ .side-bar {
        max-width: 400px;
        opacity: 1;
        z-index: 1;
        pointer-events: auto;
        visibility: visible;
    }
}