* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 2rem;
    background: #454545;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
}

.gender-container {
    display: grid;
    
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 3rem;
    max-width: 1000px;
    width: 100%;
}

.gender-btn {
    padding: 4rem 2rem;
    background: #ffffff;
    border-radius: 15px;
    border: 3px solid #dee2e6;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.gender-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.gender-icon {
    font-size: 6rem;
    width: 100px;
    height: 100px;
    display: grid;
    text-align: center;
}

.btn-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

/* Cores específicas por gênero */
.male-btn {
    background: #0035E2;
    border-color: #00218F;
    color: #00218F;
}

.female-btn {
    background: #E20097;
    border-color: #8F0075;
    color: #8F0075;
}
.mixed-btn{
    background: #0fe200;
    border-color: #008f24;
    color: #008f32;
}

@media (max-width: 768px) {
    .gender-container {
grid-template-columns: 1fr;
gap: 2rem;
padding: 1rem;
    }
    
    .gender-btn {
padding: 3rem 1.5rem;
    }
    
    .gender-icon {
font-size: 3.5rem;
    }
    
    .btn-title {
font-size: 2rem;
    }
}