{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>JIFS ADMIN</title>
</head>
<body>
    <main>
        <div class="all">
            <div class="all-block" style="width: 100vw;">
                <div class="block1">
                    <div class="block1" style="display: flex;">
                        <div class="theme-mode-button" id="theme-toggle">
                            <i class="fas fa-sun" id="theme-icon"></i>
                        </div>
                    <div class="title" style="display: flex; flex-direction: column; color: white;">
                        <h1>ADICIONE ATLETAS NO TIME DE <span style="color: #0051ff; ">{{team_sport.get_sport_display|upper}} {{team_sport.get_sexo_display|upper}}</span> DO CAMPUS <span style="color: #0051ff;">{{team_sport.team.name|upper}}</span></h1>
                    </div>
                    <form id="function_validate_form" class="block-inputs" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="block-inputs-form">
                            <div>
                                <label for="name">Nome do jogador</label>
                                <input type="text" autocomplete="on" autocorrect="on" id="name" name="name" placeholder="Nome do jogador*"
                                    required>
                                <label for="date" >Data de nascimento</label>
                                <input type="date" autocomplete="on" autocorrect="on" name="date" id="date"
                                        placeholder="Data de nascimento*" required>
                                <label for="registration">Matrícula</label>
                                <input type="text" autocomplete="on" autocorrect="on" id="registration" name="registration"
                                    placeholder="Matrícula*" required>
                                <label for="registration">CPF</label>
                                <input type="text" autocomplete="on" autocorrect="on" id="cpf" name="cpf"
                                    placeholder="CPF*" required maxlength="14">
                                {% if team_sport.sport == 2 %}
                                <label for="sexos">Sexo</label>
                                <select id="sexos" name="sexo">
                                    <option selected disabled value="None">Selecione o sexo</option>
                                    <option value="0">Masculino</option>
                                    <option value="1">Feminino</option>
                                </select>
                                {% endif %}
                                <label for="Boletin">Boletim</label>
                                <label for="bulletin" id="label-bulletin" class="custom-file-button">Clique aqui e adicione o boletim escolar</label>
                                <input type="file" name="bulletin" id="bulletin" accept=".pdf" required onchange="trocarTextoBELabel()">
                                <label for="Fotografia">Fotografia</label>
                                <label for="fotos" id="label-foto" class="custom-file-button">Clique aqui e adicione uma fotografia</label>
                                <input type="file" name="photo" id="fotos" accept=".jpg, .jpeg, .png" required onchange="trocarTextoLabel()">
                                <label for="Rg">rg</label>
                                <label for="general-register" id="label-general-register" class="custom-file-button">Clique aqui e anexe o rg</label>
                                <input type="file" name="rg" id="general-register" required onchange="trocarTextoRGLabel()">
                            </div>
                            <div>
                                <button class="side-bar-buttons-items2 custom-buttons-sport-nav">
                                    CONFIRMAR ATLETA
                                </button>
                            </div>
                        </div>
                    </form>
                    <div>
                        <br><br><br>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input name="qe" style="width: 50vw; padding: 12px; color: white; font-size: 12px;" type="search" placeholder="Procure um jogador pelo nome ou matrícula">
                            <button type="submit" style="height: 4em; width: 4em; background-color: #979797; border: 0; border-radius: 100%; margin-left: 1em;"><i class="fa-solid fa-magnifying-glass" style="color: var(--global-third-color); font-size: 2em;"></i></button>
                        </form>
                    </div>
                    <br><br>
                    <span style="background-color: white; width: 45vw; height: 3px;"></span>
                    <br><br>
                    <div style="display: flex; width: auto; height: auto; justify-content: center; align-items: center; gap: 15px; margin-bottom: 5vw;">                            
                        <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-color-green);">
                            <a href="{% url 'guiate_players_list' team_sport.team.name team_sport.get_sexo_display team_sport.get_sport_display %}">VER JOGADORES</a>
                        </button>
                    </div>
                    <ul class="notifications"></ul>
                    <script src="{% static 'js/messages.js' %}"></script>
                    {% if messages %}
                    {% for message in messages %}
                        <script>
                            createToast("{{ message.tags }}", "{{ message }}");
                        </script>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script>
        document.getElementById("cpf").addEventListener("input", function () {
            let cpf = this.value.replace(/\D/g, ""); 
            if (cpf.length > 3) cpf = cpf.substring(0, 3) + "." + cpf.substring(3);
            if (cpf.length > 7) cpf = cpf.substring(0, 7) + "." + cpf.substring(7);
            if (cpf.length > 11) cpf = cpf.substring(0, 11) + "-" + cpf.substring(11, 14);
            this.value = cpf; 
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>