{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>JIFS ADMIN</title>
</head>
<body>
    <main>
        <div class="all">
            <div class="all-block" style="width: 100vw;">
                <div class="theme-mode-button" id="theme-toggle">
                    <i class="fas fa-sun" id="theme-icon"></i>
                </div>
                <section class="block1">
                    <div class="title">
                        <h1>ADICIONE UMA NOVA MODALIDADE AO CAMPUS <span style="color: #0059ff;">{{team.name|upper}}</span></h1>
                    </div>
                    <form id="function_validate_form" class="block-inputs" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="block-inputs-form">
                            <div class="block-inputs-form">
                            <div>
                                <label for="">Esporte</label>
                                <select name="sport_id">
                                    <option value="None" selected disabled>Selecione o esporte*</option>
                                    {% for value, name in sport %}
                                    <option value="{{value}}">{{name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="">sexo</label>
                                <select id="sexos" name="sexo" required>
                                    <option selected disabled>Selecione o sexo*</option required>
                                    {% for value, name in sexo %}
                                    <option value="{{value}}">{{name}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                            </div>
                            <div>
                                <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-tenth-color);">
                                    CONFIRMAR
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="notifications"></ul>
                    <script src="{% static 'js/messages.js' %}"></script>
                    {% if messages %}
                    {% for message in messages %}
                        <script>
                            createToast("{{ message.tags }}", "{{ message }}");
                        </script>
                    {% endfor %}
                    {% endif %}
                    <button class="side-bar-buttons-items2" style="background-color: var(--global-seventh-color); margin-top: 20px; padding: 5px; padding-left: 10px; padding-right: 10px; border: 0; border-radius: 7px; font-weight: 600;">
                        <a href="{% url 'manage' %}" style="color: #ffffff; font-size: 25px;">VOLTAR</a>
                    </button>
                </section>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
