{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home_admin.css' %}">
<title>JIFS ADMIN</title>
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block center-top" style="flex-direction: column; display: flex; align-items: center;">
    <section class="about-morea">
        <div class="content">
            <h1>Mais Um Projeto <span class="stroke-morea">MOREA</span></h1>
            <p>Um projeto MOREA-SPORTS desenvolvido por alunos do IFS campus Lagarto</p>
            <p>Veja mais em nosso <a class="link-morea-or-lattes" href="https://morea-ifs.org/" target="_blank">site</a>.</p>
        </div>
        <div class="img-morea">
            <img src="{% static 'images/logo-morea-sports.svg' %}" alt="" aria-hidden="true" />
        </div>
    </section>
    <br><br><br>
    <h1 class="sub-title-about">COMO UTILIZAR O SISTEMA?</h1>
    <br>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/Cc8nUdZzkJY" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
    </div>
    <br><br><br>
    <section class="about-members">
        <div class="advisors">
            <h1 class="sub-title-about">Orientadores</h1>
            <div class="members">
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-alfredo-vieira.jpg" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Alfredo Vieira</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="http://lattes.cnpq.br/0184910034142755" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/alfredo_menezes?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/alfredomvieira" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-rubens-matos.jpg" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Rubens Matos</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="https://lattes.cnpq.br/2244198352280617" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/rubens.matos?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/rubensmatosjr" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-fabio-nunes.jpg" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Fabio Nunes</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="active-members">
            <h1 class="sub-title-about">Membros Ativos</h1>
            <div class="members">
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-silas-santos.jpg" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Silas Santos</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="http://lattes.cnpq.br/6448625749792597" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/slas_sstos/?utm_source=ig_web_button_share_sheet" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/Silas-Prog" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-sayran-felix.png" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Sayran Felix</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="http://lattes.cnpq.br/3308832783495250" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/sayranfelix/" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/sayranfs" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-edvan-barbosa.jpg" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Edvan Barbosa</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="https://lattes.cnpq.br/6715351860663582" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/edvan_barbosaaaaa/?igsh=OXYycjRtdzRkemR6" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/edvanbarbosa" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-alexandre-michael.jpg" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Alexandre Michael</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="http://lattes.cnpq.br/0744449750120052" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/alexandre._.michael/?utm_source=ig_web_button_share_sheet" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/Alexandre-Michael" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-victor-araujo.jpg" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Victor Araujo</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="http://lattes.cnpq.br/0396602990452551" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/victor_araujo1981/?utm_source=ig_web_button_share_sheet" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/Victor-arauj0" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/person.png" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Vinicius Souza</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="http://lattes.cnpq.br/7240440169673564" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/thevinisouza/?utm_source=ig_web_button_share_sheet" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/Vineees" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="photo-person">
                        <img src="static/images/perfil-felipe-carvalho.png" alt="Foto do Membro"/>
                    </div>
                    <div class="content-of-person">
                        <h3>Felipe Carvalho Leal</h3>
                        <p></p>
                        <a class="link-morea-or-lattes" href="https://lattes.cnpq.br/9147323402699881" target="_blank">Currículo Lattes</a>
                        <div class="socia-media">
                            <a href="https://www.instagram.com/felipscarvalho?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="static/images/icon-instagram-colorful.svg" alt="Instagram" aria-hidden="true"></a>
                            <a href="https://github.com/felipscarvalho" target="_blank"><img src="static/images/icon-github.svg" alt="Github" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
</div>
{% endblock content %}