{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}
<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'manage' %}">
    <button class="side-bar-buttons-items">MENU</button>
</a>
{% endblock navbar %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <div class="title">
            <h1>CADASTRO DE PARTIDAS</h1>
        </div>
        <div>
            <form id="function_validate_form" class="block-inputs" method="post">{% csrf_token %}
                <div class="block-inputs-form">
                    <div>
                        <select id="esporte" name="sport">
                            <option selected disabled value="None">Selecione o esporte</option>
                            {% for value, name in sport %}
                            <tr>
                                <option value="{{value }}">{{ name }}</option>
                            </tr>
                            {% endfor %}
                        </select>
                        <select id="sexos" name="sexo">
                            <option selected disabled value="None">Selecione o sexo</option>
                            <option value="0">Masculino</option>
                            <option value="1">Feminino</option>
                        </select>
                        <select id="time-a" name="time_a" required>
                            <option selected disabled value="None">Selecione o time</option>
                            {% for i in team %}
                            <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        <select id="times-b" name="time_b" required>
                            <option selected disabled value="None">Selecione o time</option>
                            {% for i in team %}
                            <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        <input class="input-data" type="datetime-local" name="datetime" id="date-game" />
                    </div>
                    <div>
                        <button class="side-bar-buttons-items2 custom-buttons-sport-nav">
                            CONFIRMAR
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-seventh-color); margin-top: 40px;">
            <a href="{% url 'games' %}">VOLTAR</a>
        </button>
    </section>
</div>
{% endblock content %}