{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIFS ADMIN</title>
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <div class="title">
            <h1>EDITAR JOGADOR DO CAMPUS <span style="color: #0051ff;">{{player.get_campus_display|upper}}</span></h1>
        </div>
        <div>
            <form id="function_validate_form" class="block-inputs" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="block-inputs-form">
                    <div>
                        <label for="name">Nome do jogador</label>
                        <input type="text" autocomplete="on" autocorrect="on" name="name" {% if player.name %} placeholder="{{ player.name }}" {% else %} placeholder="Nome do jogador*" {% endif %} value="{{ player.name }}" required />
                        <label for="name">Matrícula</label>
                        <input type="text" autocomplete="on" autocorrect="on" name="registration" {% if player.registration %} placeholder="{{ player.registration }}" value="{{ player.registration }}" {% else %} placeholder="Matrícula" {% endif %} required>
                        <label for="name">CPF</label>
                        <input type="text" autocomplete="on" autocorrect="on" name="cpf" {% if player.cpf %} placeholder="{{ player.cpf }}" value="{{ player.cpf }}" {% else %} placeholder="Cpf" {% endif %} required>
                        <label for="name">Sexo</label>
                        <select id="sexos" name="sexo">
                            <option {% if player_disable %} selected disabled {% endif %} value="2"> Selecione o sexo
                            </option>
                            <option {% if player.sexo == 0 %} selected {% endif %} value="0">Masculino
                            </option>
                            <option {% if player.sexo == 1 %} selected {% endif %} value="1">Feminino</option>
                        </select>
                        {% if user.is_staff %}
                        <label for="name">Campus</label>
                        <select name="campus" required>
                            <option selected disabled>Selecione o campus</option required>
                            {% for value, name in campus %}
                            <option value="{{value}}" {% if player.campus == value %} selected {% endif %}>{{name}}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                        <label for="Boletin">Boletim</label>
                        <label for="bulletin" id="label-bulletin" class="custom-file-button">Clique aqui {% if player.photo %} caso queira anexar um novo {% else %} e anexe o {% endif %}  boletim escolar</label>
                        <input type="file" name="bulletin" id="bulletin" accept=".pdf" onchange="trocarTextoBELabel()">
                        <label for="Fotografia">Fotografia</label>
                        <label for="fotos" id="label-foto" class="custom-file-button">Clique aqui {% if player.photo %} caso queira anexar uma nova  {% else %} e anexe uma {% endif %}fotografia </label>
                        <input type="file" name="photo" id="fotos" accept=".jpg, .jpeg, .png" onchange="trocarTextoLabel()">
                        <label for="Rg">RG</label>
                        <label for="general-register" id="label-general-register" class="custom-file-button">Clique aqui {% if player.photo %} caso queira anexar um novo {% else %} e anexe o{% endif %} RG</label>
                        <input type="file" name="rg" id="general-register" onchange="trocarTextoRGLabel()">
                    </div>
                    <div>
                        <button type="submit" class="side-bar-buttons-items2 custom-buttons-sport-nav">
                            CONFIRMAR
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-seventh-color);">
            <a href="{% url 'team_manage' %}" style="color: #ffffff; font-size: 25px;">VOLTAR</a>
        </button>
    </section>
</div>
{% endblock content %}