{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIFS ADMIN</title>
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block block-org">
    <h1>CONFIGURAÇÕES</h1>
    <div class="all-container">
        {% if user.is_staff %}
        <div class="link-nav">
            <a href="{% url 'chefe_manage' %}">
                <p>CHEFES DE DELEGAÇÃO</p>
                <i class="fa-regular fa-address-card"></i>
            </a>
        </div>
        <div class="link-nav">
            <a href="{% url 'enrollment_manage' %}">
                <p>PERÍODO DE INSCRIÇÃO</p>
                <i class="fa-solid fa-calendar-days"></i>
            </a>
        </div>
        <div class="link-nav">
            <a href="{% url 'anexo_manage' %}">
                <p>ANEXOS</p>
                <i class="fa-solid fa-file-pdf"></i>
            </a>
        </div>
        <div class="link-nav">
            <a href="{% url 'faq_manage' %}">
                <p>FAQ</p>
                <i class="fa-solid fa-circle-info"></i>
            </a>
        </div>
        <div class="link-nav">
            <a href="{% url 'technician_manage' %}">
                <p>GESTORES</p>
                <i class="fa-regular fa-circle-user"></i>
            </a>
        </div>
        <div class="link-nav">
            <a href="{% url 'banner_manage' %}">
                <p>BANNER</p>
                <i class="fa-solid fa-film"></i>
            </a>
        </div>
        {% endif %}
        <div class="link-nav">
            <a href="{% url 'theme' %}">
                <p>TEMAS</p>
                <i class="fa-solid fa-palette"></i>
            </a>
        </div>
    </div>
    <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-seventh-color); margin-top: 40px;">
        <a href="{% url 'Home' %}">VOLTAR</a>
    </button>
</div>
{% endblock content %}