{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/team_players_manage.css' %}">
<title>JIFS ADMIN</title>
{% endblock head %}

{% block navbar %}





{% endblock navbar %}

{% block content %}

<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>JOGADORES DE <span style="color: var(--global-tenth-color);">{{team_sport.team.name|upper}}</span> - {{team_sport.get_sport_display|upper}} - {{team_sport.get_sexo_display|upper}}</h1>
        </div>
        <section class="block-inputs">
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden">
                        <th>ID</th>
                        <th>NOME</th>
                        <th>MATRICULA</th>
                        <th>CAMPUS</th>
                        <th>SEXO</th>
                        <th>DATA NASC.</th>
                        <th>FOTO</th>
                        <th>BOLETIN</th>
                        <th>RG</th>
                        {% if allowed %}
                        <th>EDITAR</th>
                        <th>REMOVER</th>
                        {% endif %}
                    </tr>
                    {% for i in player_team_sport %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {{ i.player.name }}
                        </td>
                        <td>{{i.player.registration}}</td>
                        <td>{{i.player.get_campus_display}}</td>
                        <td>{{i.player.get_sexo_display}}</td>
                        <td>{{i.player.date_nasc}}</td>
                        <td>{% if i.player.photo %} <img src="{% static 'images/icon-true.svg' %}"> {% else %} <img src="{% static 'images/icon-false.svg' %}"> {% endif %}</td>
                        <td>                       
                            <a href="{{ i.player.bulletin.url }}" download="{{ i.player.bulletin.name }}">
                                <img style="width: 1.5em;" src="{% static 'images/download-solid.svg' %}" alt="Download">
                            </a>
                        </td>
                        <td>                       
                            <a href="{{ i.player.rg.url }}" download="{{ i.player.rg.name }}">
                                <img style="width: 1.5em;" src="{% static 'images/download-solid.svg' %}" alt="Download">
                            </a>
                        </td>
                        {% if allowed %}
                        <td>
                            <a href="{% url 'team_player_edit' i.player.id team_sport.id %}">
                                <img src="{% static 'images/icon-edit.svg' %}">
                            </a>
                        </td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <button data-confirm="Você realmente deseja excluir este jogador?" name="player_delete" value="{{i.player.id}}" style="background-color: transparent; border: none;">
                                    <img src="{% static 'images/icon-trash.svg' %}" style="color: blue;" alt="">
                                </button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <div style="display: flex; width: auto; height: auto; justify-content: center; align-items: center; gap: 15px;">
                {% if allowed %}
                <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-color-green);">
                    <a href="{% url 'guiate_players_team' team_sport.team.name team_sport.get_sexo_display team_sport.get_sport_display %}" style="color: #ffffff; font-size: 25px;">ADICIONAR MAIS</a>
                </button> 
                {% endif %}      
                <button class="side-bar-buttons-items2  custom-buttons-sport-nav cursor-block" style="background-color: var(--global-seventh-color);">
                    <a href="{% url 'team_manage' %}" style="color: #ffffff; font-size: 25px;">VOLTAR</a>
                </button>
            </div>
        </section>
    </div>
</div>
{% endblock content %}