{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JIIFS ADMIN</title>
{% endblock head %}

{% block navbar %}

<a href="{% url 'Home' %}">
    <button class="side-bar-buttons-items">HOME</button>
</a>
<a href="{% url 'manage' %}">
    <button class="side-bar-buttons-items">GERENCIAMENTO</button>
</a>

{% endblock navbar %}

{% block content %}
<div class="all-block">
    <div class="block1">
        <div class="title">
            <h1>GERENCIAMENTO DA EQUIPE</h1>
        </div>
        {% if allowed %}
        <button class="side-bar-buttons-items2 custom-buttons-sport-nav">
            <a href="{% url 'voluntary_register' %}">CADASTRAR MEMBRO DA EQUIPE</a>
        </button>
        <br><br>
        {% endif %}
        <div class="all-manage">
            <input type="search"class="hidden" id="search-input" onkeyup="search_table()" placeholder="Pesquisar os voluntários" />
            <section class="all-table">
                <table id="search-table">
                    <tr class="hidden">
                        <th>NOME</th>
                        <th>CARGO</th>
                        <th>MATRICULA/SIAPE</th>
                        {% if user.is_staff %} <th>CAMPUS</th> {% endif %}
                        <th>FOTO</th>
                        {% if allowed %}
                        <th>EDITAR</th>
                        {% endif %}
                        <th>DELETAR</th>
                    </tr>
                    {% for voluntary in voluntary %}
                    <tr>
                        <td>
                            <a href="{% url 'voluntary_edit' voluntary.id %}">{{ voluntary.name }}</a>
                        </td>
                        <td>{{voluntary.get_type_voluntary_display}}</td>
                        <td>{{voluntary.registration}}</td>
                        {% if user.is_staff %} <td>{{voluntary.get_campus_display}}</td> {% endif %}
                        <td>{% if voluntary.photo %} <img src="{% static 'images/icon-true.svg' %}"> {% else %} <img src="{% static 'images/icon-false.svg' %}"> {% endif %}</td>
                        {% if allowed %}
                        <td>
                            <a href="{% url 'voluntary_edit' voluntary.id %}">
                                <img src="{% static 'images/icon-edit.svg' %}">
                            </a>
                        </td>
                        {% endif %}
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <button data-confirm="Você realmente deseja excluir este membro da equipe?" name="voluntary_delete" value="{{voluntary.id}}" style="background-color: transparent; border: none;">
                                    <img src="{% static 'images/icon-trash.svg' %}" style="color: blue;" alt="">
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <img style="width: 18em;" class="image-no-players" src="{% static 'images/setup-animate.svg' %}">
                    <div class="title2">
                        <h2>NÃO HÁ NENHUM MEMBRO DA EQUIPE CADASTRADO</h2>
                    </div>
                    {% endfor %}
                </table>
            </section>
            <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-seventh-color); margin-top: 40px;">
                <a href="{% url 'manage' %}">VOLTAR</a>
            </button>
        </div>
    </div>
</div>
{% endblock content %}